@import "variables.css";

/* container of the whole page */
.containerPageHome {
    height: 100%;
    width: 100%;
}

/* header */
.homeHeader {
    height: var(--header-height);
    background-color: #292929;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right: var(--large-padding);
    z-index: 2;
}

/* welcome title */
#homeTitle {
    margin: 0;
    color: white;
    flex-grow: 2;                                   /* move to the left, because bigger than the other elements */
    margin-right: var(--small-margin);
    font-size: 30px;
}

/* highContrastMode button*/
#styleSwitcherHome {
    color: black;
    height: var(--button-height);
    background-color: white;
    margin-bottom: var(--small-margin);
}

/* logOut button */
#logoutButton {
    width: 120px;
    height: var(--button-height);
}

/* body of the page */
.homeContainer {
    min-height: 100vh;                                  /* need when too few elements */
    padding-top: var(--header-height);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;                             /* takes in count of the padding top */
}

/* left side of the page, contains the instructions */
.keyColumn {
    width: 25%;
    background-color: #2eff46;
}

/* right side of the page, contains the table */
.tableColumn {
    background-color: #ff8a8a;
    width: 100%;                                        /* fill the rest of the page */
}

/* loading and errorLoading paragraph */
.loadingParagraph{
    text-align: center;
    font-size: large;
}

/* table */
table {
    width: 100%;                                        /* fill all the div width */
    background-color: white;
    border: 1px solid black;
    border-spacing: 0;
    text-align: center;
}

/* X icon div */
.closeIconDiv {
    height: 50px;
    width: 50px;
    float: right;
}

/* cursor for interactive content */
th:hover {
    cursor: pointer;
}

/* cursor for modify and delete column header */
.modifyColumnHeader:hover, .deleteColumnHeader:hover {
    cursor: default;
}

/* alternate color of table rows */
tr:nth-child(odd) {
    background-color: #c4c4c4;
}

/* all the table headers have their own borders for being seen despite the sticky position */
th {
    border: var(--simple-border);
    position: sticky;
    top: var(--header-height);
    background-color: white;
}

/* put some padding on ul */
ul {
    padding-left: 30px;
    padding-right: var(--small-padding);
}

/* openable td */
.interactableTd {
    background-color: white;
}

/* form of editor order */
.homeForm {
    display: block;
    margin: auto;
    width: 60%;
    padding: 0 var(--small-padding) var(--small-padding);
}

/* labels div of the form */
.formLabels {
    float: left;
    width: 50%;
    height: var(--form-elements-height);
    margin-top: var(--small-margin);
    display: flex;
    align-items: center;
}

/* inputs div of the form */
.formInputs {
    float: right;
    width: 50%;
    margin-top: var(--small-margin);
}

/* color disabled input as grey */
.formInputs > input[disabled], .formInputs > select[disabled] {
    background-color: #c4c4c4;
}

/* editor order save button */
#submitHomeButton {
    margin-top: var(--small-margin);
    width: 100%;
    height: var(--big-button-height);
}

/* title of every div */
.divTitle{
    padding-left: var(--small-padding);
}

/* color elementes when focused or hovered */
li:focus,
th:focus,
td:focus,
input:focus,
#styleSwitcherHome:focus,
#homeTitle:focus,
li:hover,
th:hover,
td:hover,
input:hover,
#styleSwitcherHome:hover,
#homeTitle:hover {
    background-color: var(--color-on-focus);
    color: black !important;
}

/* mantain white background for the interactableTd */
.interactableTd:hover{
    background-color: white;
}

/* div of the details of the customer or agent */
.detailsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--small-margin);                                   /* space gab between the elements of the flexbox */
    padding: 0 var(--small-padding) var(--small-padding);
}

/* labels of the details */
.detailsLabel{
    width: 45%;                         /* need to be specified here and not in the following class */
}

/* container of the elements inside the label of the details */
.detailsLabelContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: var(--form-elements-height);
}

/* cummon properties between the classes */
.detailsNameSpan, .detailsDataSpan{
    border: var(--simple-border);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    padding: var(--small-small-margin);
}

/* span of the detail names */
.detailsNameSpan{
    background-color: #8A00E6;
    color: white;
    border-right: none;
}

/* span of the detail values */
.detailsDataSpan{
    border-left: none;
}

/* 1000px because of screen too small to see the instructions */
@media only screen and (max-width: 1000px) {

    /* manage contents in column order */
    .homeContainer {
        flex-direction: column;
    }

    /* keyColumn takes the entire width space */
    .keyColumn {
        width: 100%;
    }

    /* title of the columns moved to center */
    #keyColumnTitle,
    #tableColumnTitle {
        text-align: center;
        margin-top: var(--small-small-margin);
        margin-bottom: var(--small-small-margin);
    }

    /* allow to scroll horizontally the table, also no artifacts of the page*/
    .tableColumn {
        overflow-x: auto;
        flex-grow: 2;                   /* fill teh rest of the space in height */
    }

    /* th regain default position */
    th {
        position: static;
        top: 0;
    }
}

/* 620px because of table doesn't shrink anymore */
@media only screen and (max-width: 620px) {

    /* X icon div fixed at right side */
    .closeIconDiv {
        position: sticky;
        right: 0;
    }

    /* titles of interactableTd */
    .tdTitle {
        text-align: left;
        padding-left: var(--small-padding);
    }

    /* form now takes the whole width */
    .homeForm{
        margin: 0;
        box-sizing: border-box;
        width: 100vw;
    }
    
    /* all labels and inputs takes the whole width */
    .formLabels, .formInputs{
        width: 100%;
        margin-top: 0;
    }

    /* detailsDiv is no more a flexbox */
    .detailsDiv{
        display: block;
    }

    /* all labels will now take a line */
    .detailsLabel{
        display: block;
        margin-top: var(--small-margin);
    }

    /* change min-heihgt of label containers */
    .detailsLabelContainer{
        min-height: 10%;
    }

    /* homeHeader will now resize according to the viewport width */
    .homeHeader{
        height: var(--header-height-responsive);
    }

    /* homeCointainer padding based on the header height */
    .homeContainer{
        padding-top: var(--header-height-responsive);
    }
}

/* 450px because of screen is too small to see the customer or agent details correctly */
@media only screen and (max-width: 450px) {

    /* height and font managed automatically */
    #logoutButton, #styleSwitcherHome {
        font-size: 3vw;
        height: 60%;
    }

    /* font-size of all title headers */
    .divTitle, .tdTitle {
        font-size: 6vw !important;
    }

    /* font-size of list, formInputs and the save button */
    ul, .formInputs > input, .formInputs > select, #submitHomeButton{
        font-size: 4vw;
    }

    /* resize formInputs and save button according to the viewport height */
    .formInputs > input, .formInputs > select, #submitHomeButton{
        height: var(--inputs-buttons-responsive);
    }

    /* font-size of table */
    table{
        font-size: 5vw;
    }

    /* resize closeIcon */
    .closeIcon{
        float: right;
        height: auto;
        width: 10vw;
    }
}

/* 260px because of the highContrastMode button's text to be too long to stay inside the button */
@media only screen and (max-width: 260px){

    /* font-size of highContrastMode button */
    #styleSwitcherHome{
        font-size: 2vw;
    }
}
