@import "variables.css";

/* container of the whole page */
.containerPageHome {
    height: 100%;
    width: 100%;
}

/* header */
.homeHeader {
    top: 0px;
    height: var(--header-height);
    background-color: #292929;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right: var(--large-padding);
    z-index: 2;
}

/* welcome title */
#homeTitle {
    margin: 0;
    color: white;
    flex-grow: 2;
    margin-right: var(--small-margin);
    font-size: 3ex;
}

/* highContrastMode button*/
#styleSwitcherHome {
    color: black;
    height: var(--button-height);
    background-color: white;
    margin-bottom: var(--small-margin);
}

/* logOut button */
#logoutButton {
    width: 120px;
    height: var(--button-height);
}

/* body of the page */
.homeContainer {
    min-height: 100vh;
    padding-top: var(--header-height);
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
}

/* left side of the page, contains the key line */
.keyColumn {
    width: 25%;
    background-color: #2eff46;
    word-wrap: break-word;
}

/* right side of the page, contains the table */
.tableColumn {
    background-color: #ff8a8a;
    width: 100%; /* fill the rest of the page */
}

.loadingParagraph{
    text-align: center;
    font-size: large;
}

/* table */
table {
    width: 100%; /* fill all the div width */
    background-color: white;
}

/* X icon */
.closeIconDiv {
    height: 50px;
    width: 50px;
    float: right;
}

/* cursor for interactive content*/
th:hover {
    cursor: pointer;
}

/* cursor for modify column header */
.modifyColumnHeader:hover {
    cursor: default;
}

/* alternate color of table rows */
tbody tr:nth-child(odd) {
    background-color: #c4c4c4;
}

/* style the border of the table and align text to the center */
table,
th, td {
    border: 1px solid black;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
    text-align: center;
}

th {
    border: var(--simple-border);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: var(--header-height);
    background-color: white;
}

/* put some padding on ul */
ul {
    padding-left: 30px;
    padding-right: var(--small-padding);
}

/* EditorTd */
.interactableTd {
    background-color: white;
    text-align: left;
}

/* EditorTd title */
#editHeader {
    text-align: center;
}

/* form of EditorTD */
.homeForm {
    display: block;
    margin: auto;
    width: 60%;
    padding: 0 var(--small-padding) var(--small-padding);
    box-sizing: border-box;
}

/* labels div of the form */
.formLabels {
    float: left;
    width: 50%;
    height: var(--form-elements-height);
    margin-top: var(--small-margin);
    display: flex;
    align-items: center;
}

/* inputs div of the form */
.formInputs {
    float: left;
    width: 50%;
    margin-top: var(--small-margin);
    box-sizing: border-box;
}

/* inputs of the from */
.formInputs > input, .formInputs > select {
    display: block;
    padding-left: var(--small-padding);
    width: 100%;
    height: var(--form-elements-height);
    box-sizing: border-box; /* take count of padding and border when setting dimensions */
    border-radius: var(--border-radius);
    border: var(--simple-border);
    box-sizing: border-box;
}

/* color disabled input as grey */
.formInputs > input[disabled], .formInputs > select[disabled] {
    background-color: #c4c4c4;
}

/* editorDiv save button */
#submitHomeButton {
    margin-top: var(--small-small-margin);
    width: 100%;
    height: 55px;
}

/* title of every div */
.divTitle{
    padding-left: var(--small-padding);
}

/* color elementes when focused */
li:focus-visible,
th:focus-visible,
td:focus-visible,
input:focus-visible,
#styleSwitcherHome:focus-visible,
#homeTitle:focus-visible {
    background-color: var(--color-on-focus);
    color: black !important;
}

/* color elementes when hovered */
li:hover,
th:hover,
td:hover,
input:hover,
#styleSwitcherHome:hover,
#homeTitle:hover {
    background-color: var(--color-on-focus);
    color: black !important;
}

/* mantain white background for the details td */
.interactableTd:hover{
    background-color: white;
}

/* when the screen is to small to see the instructions */
@media only screen and (max-width: 1000px) {
    /* manage contents in column order */
    .homeContainer {
        flex-direction: column;
        box-sizing: border-box;
    }

    /* keyColumn takes the entire width space */
    .keyColumn {
        width: 100%; /* fill the rest of the page */
    }

    /* title of the columns moved to center */
    #keyColumnTitle,
    #tableColumnTitle {
        text-align: center;
        margin-top: var(--small-small-margin);
        margin-bottom: var(--small-small-margin);
    }

    /* allow to scroll horizontally the table, also no artifacts of the page*/
    .tableColumn {
        overflow-x: auto;
        flex-grow: 2; /* fill teh rest of the space in height */
    }

    /* th regain default position */
    th {
        position: static;
        top: 0;
        border-collapse: collapse;
    }
}

/* when the table doesn't shrink anymore */
@media only screen and (max-width: 620px) {
    /* X icon fixed at right side */
    .closeIconDiv {
        position: sticky;
        right: 0;
    }

    /* title of edit div moved to the left */
    #editHeader {
        text-align: left;
    }

    /* save button take the whole width */
    
    #submitHomeButton {
        margin-top: var(--small-margin);
    }

    .homeForm{
        margin: 0;
        box-sizing: border-box;
        width: 100vw;
    }
    
    .formLabels, .formInputs{
        width: 100%;
        margin-top: 0;
        box-sizing: border-box;
    }
}

/* when screen is too small */
@media only screen and (max-width: 450px) {
    /* height and font managed automatically */
    #styleSwitcherHome,
    #logoutButton {
        font-size: 3vw;
        height: 60%;
    }

    /* font-size of all h2 */
    .divTitle {
        font-size: 6vw !important;
    }

    /* font-size of table and list */
    ul, .formInputs > input, #submitHomeButton{
        font-size: 4vw;
    }

    table{
        font-size: 5vw;
    }

    /*
    .closeIconDiv{
        height: 50px;
        width: 10vw;
    }
    */
}
