@import "variables.css";

/* container of the whole page */
.containerPageLogin {
    height: 100vh;                      /* size of the entire viewport */
    width: 100vw;
    background-color: #919191;
}

main{
    height: 90%;
}

/* Login header */
.loginHeader{
    display: block;
    text-align: right;
    height: 10%;
}

/* High contrast button */
#styleSwitcherLogin{
    color: white;
    height: 42px;
    background-color: black;
}

/* Login body */
.loginBody{
    display: flex;                                                /* enables a flex context */
    align-items: center;                                          /* vertically center */
    justify-content: center;                                      /* horizontally center */
    height: 90%;                                                  /* takes the remaining percentage of the page */
}

/* loginBox */
.loginBox{
    width: 400px;
    height: 370px;                                                 /* necessary for showing error correctly */
    padding-top: var(--small-padding);
    padding-bottom: var(--large-padding);
    background-color: white;

    border-radius: var(--border-radius);
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);            /* horizontal length, vertical length, blur radius, spread, color */
}

/* loginBox Title */
#loginBoxTitle{
    text-align: center;
    margin-top: 0;
}

/* form */
.loginForm{
    display: block;
    padding: 0 var(--large-padding) var(--large-padding);
}

/* input */
.inputLogin{
    padding-left: var(--small-padding);
    width: 100%;
    height: var(--form-elements-height);
    box-sizing: border-box;                                        /* take count of padding and border when setting dimensions */
    border-radius: var(--border-radius);
    border: 2px solid;                                             /* solid border */
}

/* login button */
#submitLoginButton{
    width: 100%;
    height: 55px;
}

/* error div, MUST BE CHANGED WHEN RESIZE THE PAGE */
.error{
    padding-left: var(--small-padding);
    background-color: #B7311F;
    color: white;
    border-radius: var(--border-radius);
    height: 60px;
    display: flex;              /* enables a flex context*/
    align-items: center;        /* vertically center */
    justify-content: center;    /* horizontally center */
    margin-top: var(--small-margin);
    resize: vertical;
}


/* font-size */
.inputLogin, .labelLogin, .buttons{
    font-size: large;
}

/* css class for setting margin-bottom 10px */
.marginBottom {
    margin-bottom: var(--small-margin);
}

/* placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0F0FFF;
    opacity: 1; /* Firefox */
}

.error:focus-visible, .error:hover, #styleSwitcherLogin:focus-visible, #styleSwitcherLogin:hover{
    color: var(--color-on-focus) !important;
}

/* WIDTH SMALL */
/* loginBox takes up the whole width and height, loginBox hides its box-shadow, font will resize based on the screen width */
@media only screen and (max-width: 400px){

    /* Resize font of all elements with some text, except loginBoxTitle */
    .inputLogin, .labelLogin, .buttons, .error{
        font-size: 5vw;
    }

    /* Resize font of the loginbox's title, aslo apply padding-top */
    #loginBoxTitle{
        font-size: 10vw;
        padding-top: var(--small-padding);
    }

    /* display loginBody as block and no more as flex */
    .loginBody{
        display: block;
        height: 100%;
    }

    /* loginBox now takes all the screen and has no more shadow, radius, margin and padding*/
    .loginBox{
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }   
}

/* SMALL */
/* highConstrastButton moved to the top-right of the screen, header with a fixed height, height of the container managed automatically */
@media only screen and (max-height: 550px) and (max-width: 400px){
    /* the highContrastButton will move to the top right */
    #styleSwitcherLogin{
        margin-top: 1px;
        margin-right: 1px;
    }

    /* the header will take a fixed height */
    .loginHeader{
        height: 50px;
    }
}

/* HEIGHT SMALL, WIDE LARGE */
/* height of the container managed automatically, highConstrastButton moved to the top-right of the screen */
/* header with a fixed height */
@media only screen and (max-height: 510px) and (min-width: 400px){

    /* the highContrastButton will move to the top right */
    #styleSwitcherLogin{
        margin-top: 1px;
        margin-right: 1px;
    }

    /* height of the container managed automatically */
    .containerPageLogin{
        min-height: 510px;
    }

    /* the header will take a fixed height */
    .loginHeader{
        height: 50px;
    }

    /* display loginBody as block and no more as flex, also add some padding-bottom */
    .loginBody{
        display: block;
        padding-bottom: var(--small-padding);
    }

    /* loginBox moved to the center of the screen */
    .loginBox{
        margin: auto;
    }

}

/* HEIGHT SMALL */
/* loginBox height managed automatically, necessary when scrolling down, it prevents seeing white screen in highContrastMode */
@media only screen and (max-height: 370px) {


    .loginBox{
        min-height: 370px;
    }

    .containerPageLogin{
        height: auto;
    }
}