@import "variables.css";

/* container of the whole page */
.containerPageLogin {
    height: 100vh;                      /* size of the entire viewport */
    width: 100vw;
    background-color: #919191;
}

/* login header */
.loginHeader{
    display: block;
    text-align: right;
    height: 10%;
    padding-bottom: var(--small-padding);
    box-sizing: border-box;
}

/* highContrastMode button */
#styleSwitcherLogin{
    color: white;
    height: var(--button-height);
    max-height: var(--button-height);             /* useful when page width become too small and this allows to keep the button small too*/
    background-color: black;
    margin-left: var(--small-margin);
}

/* login body */
.loginBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;                                 /* takes the remaining percentage of the page */
}

/* loginBox */
.loginBox{
    width: 400px;
    height: 400px;                                                 /* necessary for showing error correctly */
    padding-top: var(--small-padding);
    padding-bottom: var(--large-padding);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);            /* horizontal length, vertical length, blur radius, spread, color */
    box-sizing: border-box;
}

/* loginBox Title */
#loginBoxTitle{
    text-align: center;
    margin-top: 0;
}

/* form */
.loginForm{
    display: block;
    padding: 0 var(--large-padding);
}

/* login button */
#submitLoginButton{
    width: 100%;
    height: var(--big--button-height);
}

/* error div */
.error{
    padding-left: var(--small-padding);
    background-color: #B7311F;
    color: white;
    border-radius: var(--border-radius);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--small-margin);
}

/* font-size */
#usernameInput, #passwordInput, .labelLogin, #submitLoginButton{
    font-size: large;
}

/* CHECK */
/* css class for setting margin-bottom 10px */
.marginBottom {
    margin-bottom: var(--small-margin);
}

/* placeholder */
::placeholder {
    color: #0F0FFF;
}

/* color text of error and Hihg Contrast button when hovered or focused */
.error:focus-visible, .error:hover, #styleSwitcherLogin:focus-visible, #styleSwitcherLogin:hover{
    color: var(--color-on-focus) !important;
}

/* WIDTH SMALL */
/* 400px because of the width of the loginBox */
@media only screen and (max-width: 400px){

    /* put the highContrastMode button near the top right corner */
    #styleSwitcherLogin{
        margin-top: var(--small-small-margin);
        margin-right: var(--small-small-margin);
    }

    /* resize font of all elements with some text, except loginBoxTitle */
    .labelLogin, #submitLoginButton, .error, #styleSwitcherLogin, #usernameInput, #passwordInput {
        font-size: 5vw;
    }

    /* resize font of the loginbox's title, aslo apply padding-top */
    #loginBoxTitle{
        font-size: 10vw;
        padding-top: var(--small-padding);
    }

    /* display loginBody as block and no more as flexbox */
    .loginBody{
        display: block;
    }

    /* loginBox now takes all the screen and has no more shadow, radius and padding*/
    .loginBox{
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }

    /* all buttons and inputs now will scale based on the viewport width */
    #styleSwitcherLogin, #submitLoginButton, #usernameInput, #passwordInput{
        height: var(--inputs-buttons-responsive);
    }
}

/* SMALL */
/* 550px because of the loginBox too near to the highContrastMode button, 400px because of the width of the loginBox */
@media only screen and (max-height: 550px) and (max-width: 400px){

    /* put the highContrastMode button near the top right corner */
    #styleSwitcherLogin{
        margin-top: var(--small-small-margin);
        margin-right: var(--small-small-margin);
    }

    /* TODO */
    .loginBox{
        min-height: 400px;
    }

    /* TODO */
    .containerPageLogin{
        height: auto;
    }

    /* TODO */
    .loginBody{
        height: 100vh;
    }

}

/* HEIGHT SMALL, WIDE LARGE */
/* 460px because of the loginBox too near to the highContrastMode button, 400px because of the width of the loginBox*/
@media only screen and (max-height: 460px) and (min-width: 400px){

    /* put the highContrastMode button near the top right corner */
    #styleSwitcherLogin{
        margin-top: var(--small-small-margin);
        margin-right: var(--small-small-margin);
    }

    /* TODO */
    .containerPageLogin{
        height: 100%;
        
    }

    /* display loginBody as block and no more as flex */
    .loginBody{
        display: block;
        padding-bottom: var(--small-margin);
    }

    /* loginBox moved to the center of the screen */
    .loginBox{
        margin: auto;
    }

}