/* variables */
:root{
    --simple-border: 2px solid black;
    --border-radius: 5px;
    --small-small-margin: 5px;
    --small-small-padding: 5px;
    --small-margin: 10px;
    --small-padding: 10px;
    --large-padding: 20px;
    --button-height: 40px;
    --big-button-height: 55px;
    --header-height: 80px;
    --header-height-responsive: 15vw;
    --inputs-buttons-responsive: 15vw;
    --form-elements-height: 42px;
    --login-size: 400px;
    --color-on-focus: #FBFF00;
    --log-button-color: #0074C2;
}

/* highContrastMode button */
.styleSwitcher{
    margin-top: var(--small-margin);
    margin-right: var(--small-margin);
    border: transparent;
    border-radius: var(--border-radius);
}

/* logIn & logOut buttons*/
.logButton{
    color: white;
    background-color: var(--log-button-color);
    border: transparent;
    border-radius: var(--border-radius);
}

/* form inputs */
.customInput{
    padding-left: var(--small-padding);
    width: 100%;
    height: var(--form-elements-height);
    box-sizing: border-box;                                     /* take count of padding and border when setting dimensions */
    border-radius: var(--border-radius);
    border: var(--simple-border);
}

/* logButton colors its text when on hover or focused */
.logButton:focus, .logButton:hover{
    color: var(--color-on-focus) !important;
}

/* class for coloring the element when on hover or focused */
.elementHoverFocus:focus, .elementHoverFocus:hover{
    background-color: var(--color-on-focus);
}

/* class for pointer cursor, and it applies also on all buttons */
.handPointer:hover, button:hover{
    cursor: pointer;
}